<% include ../partials/header %>


<!-- <div style="text-align:center">
                <h2>Welcome To <strong>Tag Process Service - Court Locator</strong></h2>
            </div> -->



<div class="container">
    <header class="">
        <% if(currentUser){ %>
            <% if(currentUser.subscription){ %>
        <form action="/campgrounds" method="GET" encType="multipart/form-data">
            <div class="form-group">
                <div class="row">

                    <input type="text" name="search" placeholder="Enter your address..." class="form-control">

                </div>
                <div class="row text-center" style="padding-top: 2rem;">
                    <input type="submit" value="Search" class="btn btn-success text-center">
                </div>
                <div class="row">
                    <%if(campgrounds !== null){%>
                    <div class="col-sm-12 col-md-12" style="height:120px;overflow:auto;" class="table-responsive">

                        <table style="background-color: #ffffff;">



                            <% campgrounds.forEach(function(campground){ %>
                            <tr>
                                <th>Input</th>
                                <th>Output</th>
                            </tr>
                            <tr>
                                <td><%= campground.search%></td>
                                <td><%= campground.courtName%></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><%= campground.address%></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><%= campground.phone%></td>
                            </tr>
                            <tr></tr>
                            <% }); %>


                        </table>

                    </div>
                    <% } %>
                </div>
            </div>
           
        </form>
        <% } else { %>
        <div class="text-center" style = "margin-top:24rem;">
                <h2 class=>Step 2 of 2</h2>
                <h3> Enter your payment information to start your unlimited monthly subscription. </h3>
                        <h3> $4.99 per month</h3>
                </div>
                <% }%>      
        <% } %> 
       
        <% if(noMatch !== null) { %>
        <h3 style="text-align: center"><%= noMatch %></h3>
        <% } %>
        <% if(currentUser){ %>

        <div class="col-md-12 text-center">
            <% if(currentUser.subscription){ %>
            <form ref='uploadForm' id='uploadForm' action='/upload' method='post' encType="multipart/form-data">
                <!-- COMPONENT START -->
                <div class="form-group">
                    <div class="input-group input-file" name="Fichier1">
                        <span class="input-group-btn">
                            <input type="file" class="btn btn-default" name="sampleFile">Choose</input>
                        </span>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">Upload address File</button>
                        </span>
                    </div>
                </div>
                <!-- COMPONENT END -->
            </form>
            <form ref='uploadForm' id='uploadForm' action='/download' method='POST' encType="multipart/form-data">
                <!-- COMPONENT START -->
                <div class="form-group">
                    <div class="text-center" name="Fichier1">

                        <button type="submit" class="btn btn-success text-center">Download Result File</button>
                        </span>
                    </div>
                </div>
                <!-- COMPONENT END -->
            </form>

            <form action='/history' method='GET' encType="multipart/form-data">
                <!-- COMPONENT START -->
                <div class="form-group">
                    <div class="text-center" name="viewhistory">
                        <button type="submit" class="btn btn-success text-center">Your Search History</button>
                        </span>
                    </div>
                </div>
                <!-- COMPONENT END -->
            </form>
            <form action='/downgrade/<%= currentUser.username %>' method='GET' encType="multipart/form-data">
                <!-- COMPONENT START -->
                <div class="form-group">
                    <div class="text-center" name="viewhistory">
                        <button type="submit" class="btn btn-success text-center">Cancel subscription</button>
                        </span>
                    </div>
                </div>
                <!-- COMPONENT END -->
            </form>
            <% } else {%>
            <form action='/charge/<%= currentUser.username %>' method="POST" style="margin-top:10rem;">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_zmpaHB8D8mG8P56fS2QUdisz" data-amount="499" data-name="Welcome to your payment"
                    data-description="You should pay monthly fee"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto"
                    data-zip-code="true">
                </script>
                <script>
                    //Hide default stripe button
                    document.getElementsByClassName('stripe-button-el')[0]
                        .style.display = 'none';
                </script>
                <button type="submit" class="btn btn-primary btn-outline-dark text-white btn-lg ">
                        Subscribe $4.99/month
                </button>
            </form>

            <% }%>
            <% }%>



            <%if(allhistory !== null){%>
            <div class="col-md-12" style="height:480px;overflow:auto;background-color: #ffffff;"
                class="table-responsive">

                <table style="background-color: #ffffff;">
                    <% allhistory.forEach(function(campground,index){ %>
                    <tr>
                        <th></th>
                        <th>Input</th>
                        <th>Output</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td><%= campground.search%></td>
                        <td><%= campground.courtName%></td>
                    </tr>
                    <tr>
                        <td><%= index+1 %></td>
                        <td></td>
                        <td><%= campground.address%></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><%= campground.phone%></td>
                    </tr>
                    <tr></tr>
                    <% }); %>
                    <% } %>

                </table>

            </div>
        </div>
    </header>
</div>


<% if(!currentUser){ %>
    <div class ="row text-center">
<img src="final01.png" style="padding-left:25rem;padding-right: 25rem; padding-top:0rem;" />
    </div>
<div class ="row text-center">
<object width="420" height="315"
data="https://www.youtube.com/v/tgbNymZ7vqY">
</object>
</div>
<div class="row text-center" style = "margin-top: 3rem">
        <button  class ="btn btn-primary btn-lg "><a href="/register" style ="color:black;">SIGN UP</a></button>

</div>
<div class="row text-center"><img src="tagmap.png" style="padding-left:10rem;padding-right: 2.5rem; padding-top:5rem;" />
<img src="tagmapkey.png" style="padding-left:2.5rem;padding-right: 5rem; padding-top:0rem;" />
</div>

<% } %>

<!-- <div class="row text-center landing-header" style="display:flex; flex-wrap: wrap;">
        
            <% if(campgrounds !== null  ) { %>
                <% campgrounds.forEach(function(campground){ %>
                    <div class="col-md-3 col-sm-6 "name = "display">
                        <div class="thumbnail">
                                
                        <div class="caption">
                            <h3> <%= campground.search %> </h3>
                            <h3>=</h3>
                            <h3><%= campground.courtName %>  Court</h3>
                            <h4><%= campground.address %></h4>
                            <h4><%= campground.phone %></h4>
                               
                        </div>
                        </div>
                    </div>
                    
                <% }); %>
        <% } %>
      
    </div> -->
<!-- <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
</ul> -->
<script>
    //document.getElementById("inputData").value = sessionStorage.getItem("comment");

    function saveComment() {
        var comment = document.getElementById("inputData").value;
        if (comment == "") {
            //alert("Please enter a comment in first!");
            return false;
        }

        sessionStorage.setItem("comment", comment);
        //alert("Your comment has been saved!");

        location.reload();
        return false;
        //return true;
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<% if(currentUser){ %>
<script>
    var socket = io();
    socket.emit('login', {
        userId: '<%= currentUser.username %>'
    });
</script>
<% }%>
<% include ../partials/footer %>
